= form_for @brew do |f|
  - if @brew.errors.any?
    #error_explanation
      %h2= "#{pluralize(@brew.errors.count, "error")} prohibited this brew from being saved:"
      %ul
        - @brew.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.hidden_field :user_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :brew_date
    = f.date_select :date
  .actions
    = f.submit 'Save'
