= simple_form_for @brew do |f|
	= f.hidden_field :user_id
	= f.input :name, :label=>'BrewToad Recognised Name:'
	= f.input :date
	
	.form-actions
		= f.submit 'Save', :class=>'btn btn-primary'
		= link_to :cancel, :back, :class=>'btn'
