.row
	.span8
		%h3 Scheduled Brews (#{link_to 'New', new_brew_path})
		%table.table.table-condensed.table-striped.table-hover
			%tr
				%th
				%th Date
				%th Name
				%th

			- @brews.each do |brew|
				%tr
					%td.text-center
						-if brew.brewed
							%i.icon-check 
					%td=brew.date
					%td=link_to brew.name, brew
					%td
						=link_to "/inventories/shoppinglist/#{brew.date + 1.day}" do
							%i.icon-shopping-cart
	.span4
		%h3 Tasks
		%table.table.table-condensed.table-striped.table-hover
			- @tasks.each do |task|
				%tr
					%td.text-center
						-if task.completed
							%i.icon-check 
					%td
						="#{task.brew.name}: #{task.title} (#{task.date})"
						